- description = account_description(account)

%link{ rel: 'me', type: 'text/html', href: "https://#{@instance}/@gus" }/ 
%link{ rel: 'me', type: 'text/html', href: "https://#{@instance}/@volition" }/
%link{ rel: 'me', type: 'text/html', href: "https://#{@instance}/@ultraskin" }/ 
%link{ rel: 'me', type: 'text/html', href: "https://#{@instance}/@oi" }/  
%link{ rel: 'me', type: 'text/html', href: "https://#{@instance}/@skinhead" }/

%meta{ name: 'description', content: description }/

= opengraph 'og:url', url
= opengraph 'og:site_name', @instance_presenter.title 
= opengraph 'og:title', yield(:page_title).strip
= opengraph 'og:description', description
= opengraph 'og:image', full_asset_url(account.avatar.url(:original))
= opengraph 'og:image:width', '400'
= opengraph 'og:image:height', '400'
= opengraph 'twitter:card', 'summary'
= opengraph 'profile:username', acct(account)[1..-1]
